<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601142460329-15pl3o7h42k44rts73a9gofj7tf7dr5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601142460329-15pl3o7h42k44rts73a9gofj7tf7dr5a</string>
	<key>API_KEY</key>
	<string>AIzaSyA-fKTOfWJNA2Au1s7Q_aJDSp0dae8lr20</string>
	<key>GCM_SENDER_ID</key>
	<string>601142460329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dietitianCons</string>
	<key>PROJECT_ID</key>
	<string>twinapple-7590a</string>
	<key>STORAGE_BUCKET</key>
	<string>twinapple-7590a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601142460329:ios:5ff476c3db59c7297c8eb8</string>
</dict>
</plist>